*{
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F2F2F2 ;
    width: 100vw;
    height: 100vh;
}

.bemvindo-container{
    display: flex;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: #401708;
    color: #F2EADF;
    border-radius: 10px;
}

.boas-vindas {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  