*{
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-style: normal;

}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F2F2F2 ;
    width: 100vw;
    height: 100vh;
}

#navbar {
    background-color: #401708;
}


nav button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: inherit;
    cursor: pointer;
    outline: none;
}

#btnClose {
    background-color: transparent;
    color: #F2EADF;
    border: none;
}

hr {
    color: #401708;
}

.card-transparente {
    background-color: transparent;
    border: none;
  }
  
  .scroll-container {
    display: flex;
    overflow-x: hidden; /* Esconde o conteúdo que ultrapassa o container */
    padding: 10px;
    gap: 10px;
    white-space: nowrap;
    position: relative;
  }
  
  .scroll-wrapper {
    display: flex;
    animation: scrollAnimation 30s linear infinite; /* Animação de rolagem */
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0); /* Começa da posição inicial */
    }
    100% {
      transform: translateX(-50%); /* Move os cards para a esquerda */
    }
  }
  
  .scroll-container .card,
  .scroll-container img {
    display: inline-block;
    flex-shrink: 0;
  }

  footer{
    background-color: #401708;
    color: #F2F2F2; 
}


a {
    text-decoration: none;
    color: inherit;
  }

/* Tela de login */

.wrapper {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 440px;
    background-color: #F2EADF;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    display: none; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 100; 
}

.wrapper.active-popup {
    display: flex; 
    transform: scale(1);
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
    position: absolute;
}
.wrapper.active .form-box.login {
    transform: translateX(-400px);
}

.wrapper input {
    width: 300px;
    height: 40px;
    background: #F2EADF;
    border-radius: 5px;
    border: 3px solid #401708;
    background: rgba(242, 234, 223, 0.00);
    margin-bottom: 10px;
    color: #401708;
}

.wrapper button {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #401708;
    color: #F2EADF;
}

.wrapper button:hover{
    background-color:#260E05 ;
    color: #F2EADF;
}

.wrapper p{
    color: #401708;
}

/* Tela de cadastro */
.wrapper .form-box.register {
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(400px); 
}

.wrapper.active .form-box.register {
    transform: translateX(0); 
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #401708;
    font-size: 2em;
    color: #F2EADF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.form-select {
    background-color: #401708;
    color: #F2EADF;
    width: 300px;
    height: 40px;
    border-radius: 5px;


}

/* Trocar elementos */

.img-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .img-desktop {
        display: none;
    }
    .img-mobile {
        display: block;
        border-radius: 10px;
    }
}

/* Estilização da Header */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color:transparent;
    position: relative;
}


.menu-container {
    display: flex;
    align-items: center;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2; 
}

.offcanvas{
    background-color: #260E05;
}

.offcanvas-header {
    color: #F2F2F2;
}

.offcanvas-body{
    background-color: #F2EADF;
}

.offcanvas-body ul {
    list-style: none;
    font-size: larger;
    color: #260E05;
}

.offcanvas-body ul li:hover {
    color: #8C5627;
}

#btnPopup {
    background: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .header {
        padding: 0 10px;
    }

    .navbar ul li a {
        padding: 10px;
    }
}

/* Parte das cabeleireiras */

h1 {
    color: #401708;
    font-weight: 600;   /* Semibold */
    font-style: italic; /* Itálico */
}

h2{
    color: #260E05;
}

/* Serviço detalhado */

.btnAgenda{
    background-color: #401708;
    color: #F2EADF;
    border: none;
    border-radius: 7px;
    width: 80px;
    height: 30px;
}

.btnFinal{
    width: 214px;
    height: 30px;
    border-radius: 7px;
    background: #401708;
    color: #F2EADF;
    border: none;

}

/* Escolha de cabelereiras */

.btnDrop {
    width: 350px;
    height: 44px;
    border-radius: 5px;
    border: 2px solid #401708;
    background: rgba(242, 234, 223, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.cardScrol {
    width: 13rem;
    height: 13rem;

}

.cardScrol a {
    width: 100%;

}

.cardScrol a img {
    width: 100%;
    border-radius: 10px;


}

@media (min-width: 540px) {
    .cardScrol {
        width: 20rem;
        height: 20rem;
    }
}

@media (min-width: 960px) {
    .cardScrol {
        width: 20rem;
        height: 20rem;
    }
}

/* Formulario */

.form-group {
    background-color: #F2EADF;
}

.form-group input {
    border-radius: 5px;
    background: rgba(191, 179, 164, 0.50);

}

.form-group input:hover {
    border-radius: 5px;
    background: rgba(143, 134, 123, 0.5);

}

.form-group select {
    border-radius: 5px;
    background: rgba(191, 179, 164, 0.50);

}

.form-group select:hover {
    border-radius: 5px;
    background: rgba(191, 179, 164, 0.50);

}

/* Cadastrar cabeleleira formulario */

#userForm{

    border-radius: 5px;
    background: rgba(191, 179, 164, 0.50);
    margin: 20px;
}

#userForm input {
    border-radius: 5px;
    background: rgba(140, 86, 39, 0.50);
    border: none;
    border: 1px solid #ccc; 
    padding: 10px; /* Adiciona um pouco de espaço interno */
    border-radius: 5px; 
    color: #F2EADF;
}

#userForm input::placeholder {
    color: rgba(242, 234, 223, 0.5); 
}

#userForm button {

    border-radius: 5px;
    background:#401708;
    color: #F2F2F2;
    border: none;
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
}

#userTable {
    border-radius: 5px;
    background: rgba(191, 179, 164, 0.50);
    border: none;
}

#userTable tr{
    font-weight: bold;
}

#userTable tr td{
    color: #401708;
    font-weight: 500;
}

#userTable button {
    background: #401708;
    border: none;
    border-radius: 5px;
    color: #F2EADF;
    margin-left: 15px;
    font-weight: 300;
    margin: 2px;
}

/* cortes */

.card {

    border-radius: 10px;
    background-color: transparent;
    border: none;

}

.card-img-top {
    
    border-radius: 10px;
}


.hide {
    display: none;
}

.nomeDoUsuario{
    display: none;
    color: #F2EADF;
}

/* Card de imagem no cadastrar cabeleleira */

/* Ocultar o input file original */
input[type="file"] {
    display: none; /* Oculta o input file */
}

/* Estilizar o botão personalizado */
.custom-file-button {
    background-color: #8C5627; /* Cor de fundo */
    opacity: 0.9; /* Opacidade */
    width: 400px; /* Largura do botão */
    height: 400px; /* Altura do botão */
    border-radius: 50%; /* Bordas arredondadas para um círculo */
    cursor: pointer; /* Cursor em forma de mão */
    display: flex; /* Flexbox para alinhar ícones e texto */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    position: relative; /* Necessário para posicionar o ícone corretamente */
}

/* Efeito hover para o botão personalizado */
.custom-file-button:hover {
    background-color: #8C5627; /* Cor de fundo ao passar o mouse */
    opacity: 1; /* Opacidade total ao passar o mouse */
}

/* Estilizar o texto do nome do arquivo */
.custom-file-name {
    color: #F2EADF; /* Cor do texto */
    position: absolute; /* Posiciona o texto dentro do botão */
    bottom: 10%; /* Distância do fundo do botão */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar corretamente */
}

/* Estilizar o ícone do botão */
.custom-file-icon {
    position: absolute;
    top: 50%; /* Centraliza verticalmente dentro do botão */
    right: 10px; /* Distância da borda direita */
    transform: translateY(-50%); /* Ajusta a posição verticalmente */
}


/* Adicionar comp */

/* Formulário de cadastrar cabeleireira */
#cabeleireiraForm {
    background-color: #8C5627; /* Fundo semitransparente */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

#cabeleireiraForm .form-group {
    background-color: #F2EADF; /* Fundo claro para os grupos */
    padding: 15px; /* Espaçamento interno */
    border: none;
}

#cabeleireiraForm label {
    font-weight: bold; /* Negrito nos rótulos */
    color: #8C5627; 
}

#cabeleireiraForm input,
#cabeleireiraForm select {
    border: 2px solid #8C5627; /* Borda com cor temática */

    background-color: rgba(242, 234, 223, 0.8); /* Fundo semitransparente */
    color: #401708; /* Cor do texto */
}

#cabeleireiraForm input::placeholder {
    color: rgba(64, 23, 8, 0.5); /* Placeholder mais claro */
}

#cabeleireiraForm input:hover,
#cabeleireiraForm select:hover {
    background-color: rgba(191, 179, 164, 0.7); /* Fundo ao passar o mouse */
}

#cabeleireiraForm input:focus,
#cabeleireiraForm select:focus {
    outline: none; /* Remove o contorno padrão */
    border-color: #401708; /* Borda mais escura ao focar */
    box-shadow: 0px 0px 5px rgba(64, 23, 8, 0.5); /* Sombra ao focar */
}


/* Começando a ajustar os nossos profissionais */

hr {
    border: none; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background-color: #401708; /* Cor da linha */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */
}

.prom {
    margin-left: 150px !important; /* Força a aplicação do estilo */
}

h2 {
    font-weight: 300; /* Negrito */
    font-size: 40px;
}

.prom p {
    font-family: 'Lora', serif;
    font-weight: 400; /* Regular */
    width: 600px;
}

/* Tamanho sm (pequeno) */
@media (max-width: 640px) {
    .prom {
        margin-left: 20px !important; /* Reduz margem para telas menores */
    }

    h2 {
        font-size: 30px; /* Reduz o tamanho do título */
    }

    .prom p {
        width: 500px; /* Reduz largura do parágrafo */
        font-size: 14px;
    }
}

/* Tamanho md (médio) */
@media (min-width: 641px) and (max-width: 768px) {
    .prom {
        margin-left: 0px !important; /* Ajuste intermediário */
    }

    h2 {
        font-size: 50px; /* Tamanho intermediário para título */
    }

    .prom p {
        width: 500px; /* Ajuste intermediário para largura */
        font-size: 16px;
    }
}


  /* Animação para a imagem */
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Animação para o texto */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Aplicando as animações */
  .animate-img {
    animation: slideInLeft 1s ease-out forwards;
  }
  
  .animate-text {
    animation: fadeIn 1.5s ease-out 0.5s forwards; /* Delay de 0.5s */
    opacity: 0; /* Inicia invisível */
  }

  .img-fluid{
    mix-blend-mode: multiply
  }

  /* Scroll de imagens */

  
