body{
    background-color: #F2F2F2;
}

.caixa {
    background-image: url(/assets/backItens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

label {
    border-radius: 20px;
}